/Users/prodrigue/Library/Fonts/Blex[[:space:]]Mono[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Light[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Thin[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Bold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Bold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]ExtraLight[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]SemiBold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Text[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Bold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Text[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Bold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Light[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Text[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Thin[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Medium[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Medium[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Thin[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]ExtraLight[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Light[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Medium[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]SemiBold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Bold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Light[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Medium[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]SemiBold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Light[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Light[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Text[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]ExtraLight[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]SemiBold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Bold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Text[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Text[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Bold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Medium[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Medium[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]SemiBold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Thin[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Bold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]ExtraLight[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]ExtraLight[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Medium[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]ExtraLight[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]SemiBold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]ExtraLight[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Light[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]SemiBold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]SemiBold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Thin[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Text[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Thin[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Thin[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]ExtraLight[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Light[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Medium[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Text[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
Library/Fonts/Blex[[:space:]]Mono[[:space:]]Thin[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Windows[[:space:]]Compatible.ttf filter=lfs diff=lfs merge=lfs -text
